*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	widows: 100%;
	font-size: 1;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*---------------------------------*/

body{
	background-color: #e8e8e8;
}

.content{
	margin: 161px 0 0 291px;
}

.listfirst {
	color: #273d46;
	line-height: 36px;
	font-size: 20px;
}
.listfirst li:before{
	content: '';
	padding: 0 0 0 27px;
	background: url('../img/Icons/li.svg') 0 3px/20px auto no-repeat;
}
.aa{
	font-family: Arial;
	text-decoration: line-through;
}
.ab{
	font-family: Arial;
	font-weight: 700;
}
.ac{
	font-family: Arial;
	font-style: italic;
}
.ad{
	font-family: Arial;
	text-transform: uppercase;
}
.aa:hover{	
	text-decoration: none;
}
.ab:hover{
	color: #d55a5a;
	font-weight: 400;
}
.ab:hover:before{
	background: url('../img/Icons/check_icon_95.png')  0 3px/20px auto no-repeat;
}
.ac:hover {
	font-style: normal;
}
.ad:hover {
	text-transform: none;
}

.conten-bottom-info_link span:after{
	content: '';
	padding: 0 30px 0px 0px;
	background: url('../img/Icons/shape_2_9.png') right no-repeat;
}
.conten-bottom-info_link {
	padding: 0 0 0 30px;
	display: inline-block;
	margin: 120px 0 120px 35px;
	background:#80b7b3;
	border-radius: 20px 20px 20px 20px;
	width: 200px;
	font-family: Arial;
	font-size: 14px; 
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
	-webkid-box-shadow: 0px 5px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
}
.conten-bottom-info_link:visited{
	background:#818171;
}
.conten-bottom-info_link:hover{
	background:#3a5856;
}
.conten-bottom-info_link:active{
	background:#818181;
	position: relative;
	top: 3px;
	-webkid-box-shadow: 0px 2px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.wait {
	width: 294px;
height: 52px;
border: 1px solid #b0b0b0;
}
.wait:focus{
	border: 1px solid #7fbed5;
	box-shadow: 0px 0px 20px -1px rgba(127,190,213,0.93);
}

.textfirst {
	width: 700px;
	font-family: Arial;
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
	margin: 60px 0 40px 0;	
}
.textfirst:first-line{
	color: #ff0000;
}
.textsecond {
	font-family: Arial;
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
	width: 700px;

}
.textsecond:first-letter{
 	font-size: 25px;
 	color: #ff0000;
 	font-weight: 400;
}