@import 'null.scss';

//--------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.front {
	background: url('../../img/bg_header_743.png') 0 0/auto auto no-repeat;
	&__body {
		max-width: 770px;
	}
	&__logo {
		padding: 165px 100%;
		width: 195px;
		height: 123px;
	}
	&__header {
		text-align: center;
		font-family: Lato;
		font-size: 34px;
		line-height: 40px;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 0.16em;
		color: #ffffff;
			span{
				font-size: 26px;
				font-weight: 400;
				text-transform: none;
			}
		}
	&__footer {}
	&__buttom {}
}
.header {
}
