@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  widows: 100%;
  font-size: 1;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.header .products, .header .home {
  display: inline-block;
}

body {
  background: #9999;
}

.content {
  margin: 0 0 0 200px;
  width: 1280px;
  height: 790px;
  background: url("../../img/livello_1_2.png") 0 0/auto auto no-repeat;
}

a {
  color: #fff;
}
a:visited {
  color: #9999;
}
a:hover {
  color: pink;
}
a:active {
  color: purple;
}

.header {
  font-weight: 600;
  font-size: 17px;
  line-height: 1.2;
  color: #fff;
  font-family: "Quicksand", sans-serif;
}
.header .leftimg {
  margin: 40px 0 0 64px;
}
.header .home {
  margin: 54px 0 0 838px;
}
.header .products {
  margin: 54px 0 0 53px;
}
.header .cart {
  margin: 50px 0 0 54px;
}

.content-text {
  margin: 220px 0px 0px 0px;
  text-align: center;
  color: #fff;
  font-family: "Quicksand", sans-serif;
}
.content-text h1 {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 700;
}
.content-text p {
  font-size: 20px;
  line-height: 1.2;
  width: 586;
}

.footer {
  margin: 276px 0 0 623px;
}